#dialog, #toast{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  .main{
    margin: 3.5rem auto 0;
    padding: .44rem .5rem;
    box-sizing: border-box;
    width: 4.1rem;
    height: 1.76rem;
    border-radius: .12rem;
    background-color: rgba(0, 0, 0, .4);
    .txtCon{
      color: #fff;
      font-size: .28rem;
      text-align: center;
      line-height: .44rem;
    }
  }
}
