/*
* @Author: zhaodi
* @Date:   2018-01-10 22:29:06
* @Last Modified by:   zhaodi
* @Last Modified time: 2018-01-10 22:35:04
*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,figure,figcaption,small,button,input,textarea,th,td,s{margin:0;padding:0}
input[type=number]
::-webkit-inner-spin-button,input[type=number]
::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
address,cite,dfn,em,var{font-style:normal}
h1,h2,h3,h4,h5{font-weight: 400;}
ul,ol{list-style:none}
a{text-decoration:none;color:inherit}
a:hover{text-decoration:none}
a:focus,button:focus,input:focus{outline:none;}
q:before,q:after{content:''}legend{color:#000}fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
.clearfix{display:block}
.clearfix:after{content:'';display:block;clear:both;overflow:hidden;line-height:0}
.clear{clear:both;height:0;line-height: 0;overflow: hidden;}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {-webkit-tap-highlight-color: rgba(0,0,0,0);margin:0 auto;
font-size: .24rem;color:#999;line-height:1;-webkit-touch-callout:none;
font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
background-color:#fff;position: relative;}
.box{box-sizing:border-box;}
.p-r{position: relative;}
.p-a{position: absolute;}
.f-l{float:left;display: inline;}
.f-r{float:right;display: inline;}
.text-l{text-align:left}.text-r{text-align:right}.text-c{text-align:center}
img{vertical-align: top}
.bg-f{background-color: #fff;}
.flex{display: flex;}

// mask
.mask{
  position: fixed;left:0;top:0;width:100%;bottom:0;background-color: rgba(0, 0, 0, .4);
  display: flex;justify-content: center;z-index:666;align-items: center;
  transition: all .4s;
}

/* 滚动条不显示  */
::-webkit-scrollbar{width:.0rem;height:.0rem;background-color:rgba(0,0,0,.14);;border-radius:.04rem;}
::-webkit-scrollbar-thumb{border:0px solid rgba(255,255,255,.16);background-color:rgba(0,0,0,.64);border-radius:.04rem;}
::-webkit-scrollbar-corner,
::-webkit-resizer{background:#959595;}


.amap-sug-result{
  position: fixed;
  visibility: visible;
  visibility: visible !important;
  left: 0!important;
  top: 1.1rem!important;
  left:0;top:0;min-width: auto;width:100%;border:none;
  padding: 0 0 0 .4rem;box-sizing: border-box;
  line-height: 1.5;
  overflow-y: scroll;
 }
 .auto-item{
  font-size:.3rem;color:#080808;
  border-top:.1px #e9e9e9 solid;padding: .1rem 0;
 }
 .auto-item:nth-child(1){
  border-top:none;
 }
 .auto-item-span{
  font-size:.22rem;display:block;padding-left: 0;color: #989898;
 }
 .auto-item:hover {
  background-color: #fff;
}