<template>
  <div id="feedback">

    <!-- loading 动画 -->
    <Loading v-if="loadFlag" />

    <!-- <header>
      意见反馈
    </header> -->

    <section class="desc">
      <h3 class="descTitle">您的意见</h3>
      <div class="textareaBox">
        <textarea-autosize class="textarea"
          @blur="fnBlur1" @focus="fnfocus1"
          placeholder="具体清晰的描述有助于我们快速解决您的问题"
          ref="myTextarea"
          v-model="paragraph"
          :maxlength="1050"
          :min-height="20"
          :max-height="140"
          @blur.native="onBlurTextarea"
        />
        <div class="editBottom">
          <div class="problemImg">
            <img class="descImg" id="pickImg" src="../assets/img/pic.png" alt="">
            <input type="file" class="file-upload" @change="fileChange" id="inputFile" accept="image/*" value="">
          </div>
          <div class="closeImg" v-show="picked" @click="handleRemove">
            <img src="../assets/img/close.png" alt="">
          </div>
          <div class="counter" :class="{warn: currNum > 999}">
            <span>{{currNum}}</span> / <span>1000</span>
          </div>
        </div>
      </div>

    </section>

    <div class="contactBox">
      <h3 class="contactTitle">联系方式（QQ、微信、手机号）</h3>
      <div class="inputBox">
        <input class="contactInfo" maxlength="20" @blur="fnBlur2" @focus="fnfocus2" type="text" v-model.trim="sendParams.contactInfo" placeholder="留下联系方式让我们更好的帮你解决问题">
      </div>
    </div>

    <div class="mobileType">
      <h3 class="contactTitle">手机型号</h3>
      <div class="inputBox">
        <input class="contactInfo" maxlength="20" @blur="fnBlur3" @focus="fnfocus3" type="text" v-model.trim="sendParams.mobileType" placeholder="留下手机型号让我们更好的帮你解决问题">
      </div>
    </div>

    <div class="btnBox">
      <button @click="handleSend" class="sendBtn" :class="{sendBtnActive: paragraph !== ''}">提交</button>
    </div>

    <transition name="confirmJump">
      <ConfirmJump :txtVal="txtVal" v-if="showToast" @confirmHand="confirmJump"></ConfirmJump>
    </transition>

  </div>
</template>

<script>
import MegaPixImage from '@/plugin/megapix-image.js'
import appApi from '@/api/api'
import ConfirmJump from '@/components/confirmJump.vue'
import Loading from '@/components/loading.vue'
import '@/utils/common.js' // TODO iOS直接把版本号挂载到window上了window.version可获取 此方法便没有用了

export default {
  name: 'Feedback',
  components: {
    ConfirmJump,
    Loading
  },
  data() {
    return{
      paragraph: '',
      contactInfo: '',
      showToast: false,
      picked: false,
      txtVal: '',

      loadFlag: false,

      sendParams: {
        content: '', // 反馈内容
        contactInfo: '', // 联系方式
        file: '', // 截图(base64串，非必传)
        mobileType: '', // 手机型号
        userAgent: '', // userAgent
      },

      picBg: require('../assets/img/pic.png'),
      platForm: '',
      os: '0',
      version: ''
    }
  },
  created() {
    this.sendParams.userAgent = navigator.userAgent

  },
  beforeMount() {
    
    
  },
  mounted() {
    this.platForm = this.checkPlatForm() 
    console.log('platForm:', this.platForm)
  },
  methods: {
    closeSelect() {
      this.showPannel = false
    },
    onBlurTextarea() {

    },

    handleRemove() {
      this.picked = false
      let imgObj = document.getElementById('pickImg')
      imgObj.style.width = '.4rem'
      imgObj.style.height = '.4rem'
      document.getElementById('pickImg').src = this.picBg
    },

    fileChange(e) {
      let that = this
      this.loadFlag = true
      // console.log(e.target.files[0])

      if (e.target.files[0].type == 'video/mp4'){
        alert('仅支持上传图片')
      }

      if (e.target && e.target.files[0]) {

        let img = new Image()
        img.onload = function () {
          
          let imgObj = document.getElementById('pickImg')
          let msg = ''
          if (img.width <= 200 || img.height <= 200) {
            msg = '请上传清晰点的图片'
            that.txtVal = msg
            that.showToast = true
            that.loadFlag = false
            let timer1 = setTimeout(() => {
              console.log('清晰')
              this.showToast = false
              clearTimeout(timer1)
              document.getElementById('inputFile').value = ''
              
            }, 20)
            return
          } else {
            document.getElementById('inputFile').value = ''
            this.showToast = false
            msg = ''
          }

          if (img.width <= img.height) {
            imgObj.style.width = '.6rem'
            imgObj.style.height = 'auto'
          } else {
            imgObj.style.width = 'auto'
            imgObj.style.height = '.6rem'
          }
          return new Promise(function (resolve) {
            var mpImg = new MegaPixImage(img);
            that.picked = true
            that.loadFlag = false
            
            mpImg.render(document.getElementById('pickImg'), {
                maxWidth: 980,
                maxHeight: 980,
                // quality: 0.6,
                orientation: 1
            }, resolve)
            
          })
        }
        img.src = this.inputPath2url(e.target.files[0])

        
      } else {
        this.picked = false
      }

    },

    inputPath2url(file) {
      var url = null;
      if (window.createObjectURL != undefined) { // basic
          url = window.createObjectURL(file);
      } else if (window.URL != undefined) { // mozilla(firefox)
          url = window.URL.createObjectURL(file);
      } else if (window.webkitURL != undefined) { // webkit or chrome
          url = window.webkitURL.createObjectURL(file);
      }
      return url;
    },

    handleSend() {
      if (!navigator.onLine) {
        return alert('请检查网络')
      }
      this.sendParams.content = this.paragraph
      this.showToast = false
  
      if (this.paragraph === '') return
      
      this.fnBlur3()
      window.scroll(0, 2)

      let msg = ''
      if (this.sendParams.content.length > 1000) {
        msg = '问题描述最多1000字'
        this.txtVal = msg
        this.showToast = true
        return
      } else {
        msg = ''
      }

      let that = this

      if (this.platForm === 'Android') {
        if (window.YRNativeBridge) {
          this.version = window.YRNativeBridge.appVersion()
        } else {
          alert('无 appVersion 方法')
        }
        this.os = '1'
      } else if (this.platForm === 'iOS') {
        // window.getVersion('0.0.9')
        if (window.webkit && window.webkit.messageHandlers.appVersion) {
          window.webkit.messageHandlers.appVersion.postMessage(null)
        } else {
          alert('iOS 无 appVersion 方法 传null')
        }
        this.os = '2'
      } else {
        this.version = ''
        this.os = '0'
      }

      this.loadFlag = true
      if (this.picked) {
        if (this.platForm === 'Android') {
          let base64Str = document.getElementById('pickImg').src
          this.dealImage(base64Str, 800, function(base64){
            console.log('安卓压缩')
            that.showSize(base64)
            that.sendAjax(base64)
          })
        } else {
          let base64Str = document.getElementById('pickImg').src
          this.sendAjax(base64Str)
        }
      } else {
        this.sendAjax()
      }

    },
    sendAjax(base64) {
      console.log('手机型号：', this.sendParams.mobileType)
      
      let formData = new FormData()
      if (base64) {
        // formData.append("file", decodeURI(base64))
        formData.append("file", base64)
      }

      formData.append('content', this.sendParams.content)
      formData.append('contactInfo', this.sendParams.contactInfo)
      formData.append('mobileType', this.sendParams.mobileType)
      formData.append('userAgent', this.sendParams.userAgent)

      if (this.platForm === 'iOS') {
        console.log('window.version:', window.version)
        console.log('this.version:', this.version)
        this.version = window.version || '0.0.0'
      }
      
      let params = {
        version: this.version,
        os: this.os
      }
      
      appApi.problemSend(formData, params)
        .then(res => {
          this.loadFlag = false
          if (res.code == 200) {
            this.txtVal = ''
            this.showToast = true
            let timer1 = setTimeout(() => {
              this.showToast = false
              
              clearTimeout(timer1)
              // TODO 页面跳回首页
              this.paragraph = ''
              this.sendParams.content = ''
              this.sendParams.contactInfo = ''
              this.sendParams.mobileType = ''
              this.os = '0'
              this.version = ''
              this.picked = false
              let imgObj = document.getElementById('pickImg')
              imgObj.style.width = '.4rem'
              imgObj.style.height = '.4rem'
              imgObj.src = this.picBg
            }, 3000)
          } else {
            console.log(res)
          }
        })
        .catch(err => {
          console.log(err)
          this.loadFlag = false
        })
    },

    confirmJump() {
      this.showToast = false
    },

    dealImage(base64, w, callback) {
      var newImage = new Image()
      //压缩系数0-1之间
      var quality = 0.7
      newImage.src = base64
      newImage.setAttribute('crossOrigin', 'Anonymous')    //url为外域时需要
      var imgWidth, imgHeight
      newImage.onload = function () {
        imgWidth = this.width
        imgHeight = this.height
        var canvas = document.createElement('canvas')
        var ctx = canvas.getContext('2d')
        if (Math.max(imgWidth, imgHeight) > w) {
          if (imgWidth > imgHeight) {
            canvas.width = w
            canvas.height = w * imgHeight / imgWidth
          } else {
            canvas.height = w
            canvas.width = w * imgWidth / imgHeight
          }
        } else {
          canvas.width = imgWidth
          canvas.height = imgHeight
          quality = 0.7
        }
        ctx.clearRect(0, 0, canvas.width, canvas.height)
        ctx.drawImage(this, 0, 0, canvas.width, canvas.height)
        var ba = canvas.toDataURL('image/jpeg', quality) //压缩语句
        // 如想确保图片压缩到自己想要的尺寸,如要求在50-150kb之间，请加以下语句，quality初始值根据情况自定
        while (base64.length / 1024 > 150) {
          quality -= 0.01;
          base64 = canvas.toDataURL("image/jpeg", quality);
        }
        // 防止最后一次压缩低于最低尺寸，只要quality递减合理，无需考虑
        while (base64.length / 1024 < 50) {
          quality += 0.001;
          base64 = canvas.toDataURL("image/jpeg", quality);
        }
        callback(ba) //必须通过回调函数返回，否则无法及时拿到该值
      }
    },
    checkPlatForm() {
      if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
        //Ios
        return 'iOS'
      } else if (/(Android)/i.test(navigator.userAgent)) {
        //Android终端
        return 'Android'
      }
    },
    fnBlur1() {
      if (this.platForm === 'Android') { // 安卓弹出键盘时不能向上推页面，iOS可以自动推起
        let timer = setTimeout(function(){
          document.getElementById('feedback').style.marginTop = 0
          clearTimeout(timer)
        }, 100);
      }
    },
    fnfocus1() {
      if (this.platForm === 'Android') { // 安卓弹出键盘时不能向上推页面，iOS可以自动推起
        let timer = setTimeout(function(){
          document.getElementById('feedback').style.marginTop = '-40%'
          clearTimeout(timer)
        }, 100);
      }
    },
    fnBlur2() {
      if (this.platForm === 'Android') { // 安卓弹出键盘时不能向上推页面，iOS可以自动推起
        let timer = setTimeout(function(){
          document.getElementById('feedback').style.marginTop = 0
          clearTimeout(timer)
        }, 100);
      }
    },
    fnfocus2() {
      if (this.platForm === 'Android') { // 安卓弹出键盘时不能向上推页面，iOS可以自动推起
        let timer = setTimeout(function(){
          document.getElementById('feedback').style.marginTop = '-45%'
          clearTimeout(timer)
        }, 100);
      }
    },
    fnBlur3() {
      if (this.platForm === 'Android') { // 安卓弹出键盘时不能向上推页面，iOS可以自动推起
        let timer = setTimeout(function(){
          document.getElementById('feedback').style.marginTop = '0'
          clearTimeout(timer)
        }, 100);
      }
    },
    fnfocus3() {
      this.showPannel = false
      if (this.platForm === 'Android') { // 安卓弹出键盘时不能向上推页面，iOS可以自动推起
        let timer = setTimeout(function(){
          if(document.body.clientHeight < 630) {
            document.getElementById('feedback').style.marginTop = '-55%'
          } else {
            document.getElementById('feedback').style.marginTop = '-45%'
          }
          clearTimeout(timer)
        }, 100);
      }
    },
    compress( base64, rate, callback ) {
      //处理缩放，转格式
      var that = this
      var _img = new Image();
      _img.src = base64;
      _img.onload = function() {
        var _canvas = document.createElement("canvas");
        var w = this.width / rate;
        var h = this.height / rate;
        _canvas.setAttribute("width", w);
        _canvas.setAttribute("height", h);
        _canvas.getContext("2d").drawImage(this, 0, 0, w, h);
        var base64 = _canvas.toDataURL("image/jpeg");
        _canvas.toBlob(function(blob) {
          if(blob.size > 750*1334){        //如果还大，继续压缩
              that.compress(base64, rate, callback);
          }else{
              callback(base64);
          }
        }, "image/jpeg");
      }
    },

    showSize(base64url) {
      //获取base64图片大小，返回字节
      var str = base64url.replace('data:image/png;base64,', '');
      var equalIndex = str.indexOf('=');
      if (str.indexOf('=') > 0) {
        str = str.substring(0, equalIndex);
      }
      var strLength = str.length;
      var fileLength = parseInt((strLength - (strLength / 8) * 2)/1024);
      console.log("压缩后的图片size", fileLength + "KB")
      return fileLength;
    },
  },
  computed: {
    currNum() {
      console.log(this.paragraph.length)
      return this.paragraph.length
    }
  }
}
</script>

<style scoped lang="scss">
.file-upload{
  position: absolute;
  left: -3.2rem;
  width: 3.8rem;
  height: .6rem;
  opacity: 0;
}

#feedback{
  padding-top: .2rem;
  box-sizing: border-box;
  // width: 100%;
  // height: .98rem;
  // line-height: .98rem;
  // background-image: url('../assets/img/bt_back.png');
  // background-repeat: no-repeat;
  // background-size: .56rem .56rem;
  // background-position: .2rem .16rem;
  // header{
  //   font-size: .32rem;
  //   font-weight: bold;
  //   color: #2E2F33;
  //   text-align: center;
  // }
  .section{
    padding-top: 1rem;
  }

  .desc{
    width: 6.7rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .textareaBox{
      border: .02rem solid #EFEFEF;
      // min-height: 2.44rem;
      min-height: 3rem;
      border-radius: .04rem;
      background: #fff;
    }
    .textarea{
      -webkit-appearance: none;
      white-space: pre-wrap;
      word-break: break-all;
      word-wrap: break-word;
      min-height: 1.75rem;
      resize: none;
      outline: none;
      border: none;
      border-radius: .08rem;
      width: 100%;
      height: 100%;
      padding: .2rem .2rem 0;
      margin-bottom: .8rem;
      box-sizing: border-box;
      font-size: .28rem;
      color: #333;
      line-height: 1.6;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .editBottom{
      display: flex;
      justify-content: space-between;
      padding: 0 .2rem .2rem;
      position: absolute;
      bottom: 0;
      width: 6.24rem;
      height: .6rem;
      background: #fff;
      left: .02rem;
      bottom: .03rem;
      border-radius: .1rem;
      .problemImg{
        width: .6rem;
        height: .6rem;
        overflow: hidden;
        position: relative;
      }
      .closeImg{
        position: absolute;
        width: .58rem;
        height: .58rem;
        top: -.1rem;
        left: .64rem;
        img{
          width: .3rem;
          height: .3rem;
        }
      }
      .counter{
        position: absolute;
        right: .2rem;
        bottom: .2rem;
        color: #BCBCBF;
      }
      .descImg{
        width: .4rem;
        height: .4rem;
        position: absolute;
        left: 0;
        bottom: 0;
        // left: 50%;
        // transform: translateX(-50%);
      }
      .warn{
        color: #eb4e67;
      }
    }
  }
  
  ::placeholder{
    color: #BCBCBF;
    font-size: .28rem;
  }

  .descTitle, .contactTitle{
    font-weight: 500;
    height: .3rem;
    line-height: .3rem;
    margin-top: .8rem;
    margin-bottom: .5rem;
    color: #2E2F33;
    font-size: .28rem;
    padding-left: .02rem;
    box-sizing: border-box;
  }
  .contactTitle{
    margin-bottom: .28rem;
  }

  .contactBox, .mobileType{
    width: 6.7rem;
    margin: 0 auto;
  }
  .inputBox{
    border-bottom: .02rem solid #EFEFEF;
  }
  .contactInfo{
    -webkit-appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 6.7rem;
    height: .82rem;
    font-size: .28rem;
    line-height: .3rem;
    color: #333;
    padding: .22rem 0 .2rem;
    box-sizing: border-box;
  }

  .btnBox{
    padding-bottom: 1.2rem;
  }
  .sendBtn{
    outline: none;
    border: none;
    display: block;
    margin: 1rem auto 0;
    width: 6.68rem;
    height: .88rem;
    background: #F4F4F4;
    color: #BCBCBF;
    font-size: .28rem;
    font-weight: 500;
  }
  .sendBtnActive{
    background: #FF5175;
    color: #fff;
  }
  .backBtn{
    outline: none;
    border: none;
    background: none;
    display: block;
    margin: .42rem auto 0;
    border-bottom: 1px solid #b2b9bd;
    color: #b2b9bd;
    font-size: .28rem;
    height: .38rem;
  }
}

</style>
