<template>
  <div id="dialogInfo" @click="confirmFn">
    <div class="main">
      <div v-if="txtVal">
        <p class="htmlCon" v-html="txtVal"><br></p>
      </div>
      <div v-if="!txtVal">
        <p class="txtCon">您的宝贵建议我们已收到<br>我们会尽快改进的!</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    txtVal: String
  },
  data () {
    return {
    }
  },
  mounted () {
    let timer1 = setTimeout(() => {
      window.scroll(0, 2)
      this.$emit('confirmHand', true)
      clearTimeout(timer1)
    }, 300000)
  },
  methods: {
    confirmFn () {
      window.scroll(0, 2)
      this.$emit('confirmHand', true)
    }
  }
}
</script>

<style lang='scss' scoped>
#dialogInfo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  .main{
    margin-top: -1.28rem;
    padding: .44rem .5rem;
    box-sizing: border-box;
    width: 4.1rem;
    height: 1.76rem;
    border-radius: .12rem;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .htmlCon{
      line-height: .86rem;
      color: #fff;
      font-size: .28rem;
      text-align: center;
    }
    .txtCon{
      color: #fff;
      font-size: .28rem;
      text-align: center;
      line-height: .44rem;
    }
  }
}
</style>
