<template>
  <div class="loadingAnim">
    <div class="cricle">
      <img src="../assets/img/loading-icon.png" width="25" class="loadingIcon"/>
    </div>
  </div>
</template>

<script>
export default{
  mounted() {
    this.loading(1)
  },
  methods: {
    loading(state) {
      let loadDom = document.querySelector('.loadingAnim')
      if(state) {
        loadDom.classList.add('run')
        loadDom.style.display = 'block'
      } else {
        loadDom.style.display = 'none'
        loadDom.classList.remove('run')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.loadingAnim{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  z-index:600;
}
.cricle{
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loadingAnim.run .loadingIcon{
  will-change: transform;
  animation: loadRun 1.8s linear infinite;
}
@keyframes loadRun{
  0%{
    transform:rotateZ(0deg);
  }
  100%{
    transform:rotateZ(360deg);
  }
}
</style>