<template>
  <div id="app" :class="{bigScreen: isBigScreen}">
    <Feedback />
  </div>
</template>

<script>
import JudgeScreen from '@/utils/JudgeScreen'
import Feedback from '@/views/Feedback'

export default {
  name: 'App',
  components: {
    Feedback
  },
  data() {
    return{
      isBigScreen: false
    }
  },
  created() {
    this.isBigScreen = JudgeScreen.bigScreen()
  },
  beforeMount() {
    // let timer1 = setInterval(() => {
    //   let rootFontSize = (document.documentElement.clientWidth || document.body.clientWidth) / 10;
    //   document.getElementsByTagName("html")[0].style.fontSize = rootFontSize + "px";
    //   if (rootFontSize > 32) {
    //     clearInterval(timer1);
    //   }
    // }, 60);
    // let timer2 = setTimeout(() => {
    //   clearInterval(timer1);
    //   clearTimeout(timer2);
    // }, 3000);
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #2c3e50;
  margin-top: 60px; */
  height: 100%;
}
.bigScreen{
  height: 100%;
  /* padding-top: 68px;
  box-sizing: border-box; */
}
</style>
